@model CartViewModel

@{
    ViewData["Title"] = "Cart Overview";
}

@if (Model.CartItems.Count > 0)
{
    <h1>Cart Overview</h1>
    <div class="cartWrapper">
        <div class="cartbg d-none">
            <h3 class="text-center">Redirecting you to paypal...</h3>
            <img src="~/images/ajax-loader.gif" />
        </div>
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                        <a class="btn btn-sm btn-success" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                        <a class="btn btn-sm btn-danger" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                    </td>
                    <td>@item.Price.ToString("C2")</td>
                    <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
                </tr>
            }
            <tr>
                <td class="text-right" colspan="5">
                    Grand Total: @Model.GrandTotal.ToString("C2")
                </td>
            </tr>

            <tr>
                <td class="text-right" colspan="5">
                    <a asp-action="Clear" class="btn btn-danger">Clear Cart</a>
                    <a href="#" class="btn btn-primary checkout">Checkout</a>
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <h3 class="display-4 text-center">Your cart is empty.</h3>
    <div>
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="text-right" colspan="5">
                    Grand Total: $0.00
                </td>
            </tr>

            <tr>
                <td class="text-right" colspan="5">
                    <a asp-controller="Products" asp-action="Index" class="btn btn-outline-success">Buy Products</a>
                </td>
            </tr>

        </table>
    </div>
}

<partial name="~/Views/Cart/_PaypalPartial.cshtml" for="CartItems" />

@section Scripts {
    <script>
        $(function () {
            $("a.checkout").click(function (e) {
                e.preventDefault();
                $("div.cartbg").removeClass("d-none");
                $.get("/cart/clear", {}, function () {
                    $("form.paypalform").submit();
                })
            });
        });
    </script>
}