@model IEnumerable<StoreSupplier.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User?.IsInRole("Admin") ?? false)
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
}
<table class="table table-responsive-sm table-striped sorting" id="branches">
    <thead class="thead-dark">
        <tr>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Slug
            </td>
            @if (User?.IsInRole("Admin") ?? false)
            {
                <td>
                    <a class="btn btn-primary m-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info m-2" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    @if (item.Slug != "clients")
                    {
                        <a class="btn btn-danger confirmDeletion m-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            }

        </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <pagination page-count="@ViewBag.TotalPages" page-target="/admin/branches"
                    page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
    </div>

}

@section Scripts {
    <script>
        $("table#branches tbody").sortable({
            items: "tr",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#branches tbody").sortable("serialize");
                let url = "/admin/branches/reorder";
                $.post(url, ids, function () { });
            }
        })
    </script>
}

